.Wdate
{
	border: 1px solid #dddddd;
	height: 25px;
	width:122px;
	background: #fff url(datePicker.gif) no-repeat right;	
    padding-left:5px;
    line-height:25px;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}